<!DOCTYPE html>
<html ng-app="Haha">

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="./app.js"></script>
    <script src="./js/haha.js"></script>
  </head>

  <body ng-controller="hahaHomepageCtrl">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">


        <h1>近距离和长者交流</h1>
        <!-- <h1>Excited!</h1> -->

        <form class="form-group" ng-submit="submit()">
          <div>
          <p>
            随便说几句吧: 
          </p>

            <input class="form-control" 
            type="text" id="yourQuestion" 
            ng-model="yourQuestion" 
            placeholder="Say something to Zhangzhefile">
        
            <!-- <button class="btn btn-primary" ng-click="submit()">提交</button>  -->
        
        </form>

        <div ng-show="eldersResponse">
          <h2> 长者： {{eldersResponse}} </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
          <a type="button" class="btn btn-primary" ng-click="getQuote()">蛤蛤语录欣赏</a>
        
          <div class="well">        
          <span style="font-size:20px;">
            {{theQuote.quote}}
          </span>
          <br />
          <span style="font-size:14px;">
            {{theQuote.time}}
          </span>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>

